<%inherit file="procBase.html"/>
<%block name="headLinks">
  <link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
</%block>
<h2>${grpName} :: ${procName}</h2>
<p/>
<div class="well">
<pre class="prettyprint lang-yaml ">
${yamContent}
</pre>
</div>
<p><a class="btn btn-primary" href="/clientProc?ip=${ip}">Return</a></p>
<%block name="footScripts">
  <script type="text/javascript" src="/static/js/prettify.js"></script>
  <script type="text/javascript" src="/static/js/lang-yaml.js"></script>
  <script type="text/javascript">$(function () {prettyPrint()});</script>
</%block>
