## -*- coding: utf-8 -*-
<%inherit file="base.html"/>
<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">
				Remote  Clients
			</li>
			% for i,ip in enumerate(clientIps):
			<li class="${actCssList[i]}"> 
				<a href="/clientProc?ip=%{ip}">
					<span class="${labelCssList[i]}">${ip}</span>
					% if countList[i] > 0:
					<span class="badge badge-warning">${countList[i]}</span>
					% endif
				</a>
			</li>
			% endfor			
		</ul>
	</div>
</div>
<div class="span10">
	${next.body()}
</div>