echo 15:
  args: ["hello"]
  executable: /bin/echo
  group: null
  path: null
  usePTY: false
  user: null
  restart:
    enable: true
    periodMinutes: 5
  monitor:
    enable: false
    log:
      file: null
      keyword: null
      action: KILL #KILL,TERM,INT
  fileUpdate:
    restart: true
    fileSet:
      - local:
          dir: .
          restartRename:
        remote: 
          dir: .
          filters: []
test :
  args: ['server']
  executable: /Users/ford/work/kindsoft/git/nnm/karaf/karaf-custom/target/assembly/bin/karaf
sleep 5:
  args: [5]
  executable: /bin/sleep
