echo 15:
  args: ["15"]
  executable: /bin/echo
  gid: null
  path: null
  usePTY: false
  uid: null
  restart:
    enable: true
    periodMinutes: 5
  monitor:
    enable: false
    log:
      file: null
      keyword: null
      action: KILL #KILL,TERM,INT
  fileUpdate:
    restart: 
      enable: true
      clearCaches: []
      sleep: 1
    fileSet:
      - local:
          dir: .
          restartRename: 
        remote: 
          dir: .
          filters: ['*']
test :
  args: ['server']
  executable: /Users/ford/work/kindsoft/git/nnm/karaf/karaf-custom/target/assembly/bin/karaf
sleep 5:
  args: [5]
  executable: /bin/sleep
