<%!
    from dp.server.main import isRun
%>
<%inherit file="base.html"/>
<h2>Client List</h2>
% if flash.msg:
	<div class="alert alert-${flash.alert}">
		<button type="button" class="close" data-dismiss="alert">×</button>
		${flash.msg}
	</div>
% endif
<table class="table table-striped table-bordered table-condensed  table-hover">
	<thead>
		<tr>
			<th>Client Ip</th>
			<th>Version</th>
			<th>Status</th>
			<th>Last Conneted</th>
			<th>Last Shaked</th>
			<th>File Updated</th>
			<th style="width:200px;">Operations</th>
		<tr>
	</thead>
	<tbody>
		% for key,value in clientDict.iteritems():
		<tr>
			<td>${key}</td>
			<td>${value['version']}</td>
			<td>
			% if isRun(key):
				<span class="label label-success">
			% else:
				<span class="label label-important">
			% endif
				${value['status'].name}
				</span>
			</td>
			<td>${value['lastConnected']}</td>
			<td>${value['lastShaked']}</td>
			<td>${value['fileUpdated']}</td>
			<td>
				% if  isRun(key):
				<form class="form-inline" style="margin-bottom:2px;" method="POST" action="/clientOp">
				<input type="hidden" name="ip" value="${key}"></input>
				<div class="btn-toolbar" style="margin: 0;">
					<div class="btn-group">
					 	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					    	<i class="icon-hdd"></i>  Action<span class="caret"></span>
					 	</a>
					 	<ul class="dropdown-menu">
							<button class="btn btn-link" type="submit" name="op" value="Restart" onclick="return confirm('Are you sure to restart ${key}?');"><i class="icon-retweet"></i> Restart</button>
							% if canUpdate:
							<button class="btn btn-link" type="submit" name="op" value="Update" onclick="return confirm('Are you sure to update ${key}?');"><i class="icon-check"></i> Update</button>
							% endif
						</ul>
					</div>
					<button class="btn btn-info" type="submit" name="op" value="Reload"><i class="icon-refresh icon-white"></i> Reload</button>
				</div>
				</form>
				% endif
			</td>
		</tr>
		% endfor
	</tbody>
</table>
