<%inherit file="procInfoBase.html"/>
<%block name="headLinks">
  <link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
</%block>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Configure</a></li>
  ${self.navUrl('/clientConsoleInfo?name=%s'%uniName,'Console')}
  ${self.logUrl(monLog,uniName)}
  ${self.navUrl('/clientStartHistory?name=%s'%uniName,'Start History')}
  ${self.navUrl('/clientUpdateHistory?name=%s'%uniName,'Update History')}
</ul>
<div class="well well-small">
<pre class="prettyprint lang-yaml pre-scrollable">
${yamContent}
</pre>
</div>
<%block name="footScripts">
  <script type="text/javascript" src="/static/js/prettify.js"></script>
  <script type="text/javascript" src="/static/js/lang-yaml.js"></script>
  <script type="text/javascript">$(function () {prettyPrint()});</script>
</%block>
