<%!
    from dp.server.main import isRun
%>
<%inherit file="procBase.html"/>
<h2>Process List</h2>
% if flash.msg:
	<div class="alert alert-${flash.alert}">
		<button type="button" class="close" data-dismiss="alert">×</button>
		${flash.msg}
	</div>
% endif
<table class="table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<th>Group</th>
			<th>Name</th>
			<th>Status</th>
			<th>Last Shaked</th>
			<th>File Updated</th>
			% if isRun(currentIp):
			<th style="width:210px;">Operations</th>
			% endif
		<tr>
	</thead>
	<tbody>
		% for key,value in procDict.iteritems():
			% for i,procRow in enumerate(value):
		<tr>
			% if i==0 :
				<td rowspan="${len(value)}">${key}<br/>
					<div class="btn-group">
					 	<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
					    	<i class="icon-th-large"></i> Action<span class="caret"></span>
					 	</a>
					 	<ul class="dropdown-menu">
							<li><a href="/groupOp?name=${procRow[3]}&op=Restart" onclick="return confirm('Are you sure to restart group ${key}?');"><i class="icon-retweet"></i> Restart</a>
							</li>
							<li><a href="/groupOp?name=${procRow[3]}&op=Update" onclick="return confirm('Are you sure to update group ${key} files?');"><i class="icon-check"></i> Update</a></li>
						</ul>
					</div>
				</td>
			% endif
			<td><a href="/clientConfInfo?name=${procRow[3]}">${procRow[0]}</a></td>
			<td>
			% if isRun(procRow[3]):
				<span class="label label-success">
			% else:
				<span class="label label-important">
			% endif
				${procRow[1].name}
				</span>
			</td>
			<td>${procRow[2]}</td>
			<td>${procRow[4]}</td>
			% if isRun(currentIp):
			<td>
				<div class="btn-toolbar" style="margin: 0;">
					<div class="btn-group">
					 	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					    	<i class="icon-tasks"></i>  Action<span class="caret"></span>
					 	</a>
					 	<ul class="dropdown-menu">
							<li><a href="/procOp?name=${procRow[3]}&op=Restart" onclick="return confirm('Are you sure to restart ${procRow[3]}?');"><i class="icon-retweet"></i> Restart</a></li>
							<li><a href="/procOp?name=${procRow[3]}&op=Update" onclick="return confirm('Are you sure to update ${procRow[3]} files?');"><i class="icon-check"></i> Update</a></li>
						</ul>
					</div>
					<a class="btn btn-info" data-toggle="modal" href="/procOp?name=${procRow[3]}&op=Console"><i class="icon-comment icon-white"></i> Console</a>
				</div>
			</td>
			% endif
		</tr>
			% endfor
		% endfor
	</tbody>
</table>
<%block name="footScripts">
  <script type="text/javascript">$(function () {
	$('[data-toggle="modal"]').click(function(e) {
		e.preventDefault();
		var href = $(this).attr('href');
		$.get(href, function(data) {
			$('<div class="modal fade" >' + data + '</div>').modal().css({
       			'width': function () {
           			return ($(document).width() * .65) + 'px';
       			},
       			'margin-left': function () {
           			return -($(this).width() / 2.1);
       			}
			});
		});
	});  
  });</script>
</%block>
