<%inherit file="procInfoBase.html"/>
<%block name="headLinks">
  <link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
</%block>
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Configure</a></li>
  <li><a href="/clientConsoleInfo?name=${uniName}&monLog=${monLog}">Console</a></li>
  ${self.logUrl(monLog,uniName)}
  <li><a href="/clientStartHistory?name=${uniName}&monLog=${monLog}">Start History</a></li>
  <li><a href="/clientUpdateHistory?name=${uniName}&monLog=${monLog}">Update History</a></li>
</ul>
<div class="well well-small">
<pre class="prettyprint lang-yaml pre-scrollable">
${yamContent}
</pre>
</div>
<%block name="footScripts">
  <script type="text/javascript" src="/static/js/prettify.js"></script>
  <script type="text/javascript" src="/static/js/lang-yaml.js"></script>
  <script type="text/javascript">$(function () {prettyPrint()});</script>
</%block>
