<%inherit file="base.html"/>
<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">
				Remote  Clients
			</li>
			% for i,ip in enumerate(clientSideArgs['clientIps']):
			<li class="${clientSideArgs['actCssList'][i]}"> 
				<a href="/clientProc?ip=${ip}">
					<span class="${clientSideArgs['labelCssList'][i]}">${ip}</span>
					% if clientSideArgs['countList'][i] > 0:
					<span class="badge badge-warning">${clientSideArgs['countList'][i]}</span>
					% endif
				</a>
			</li>
			% endfor			
		</ul>
	</div>
</div>
<div class="span10">
	${next.body()}
</div>