<%inherit file="procInfoBase.html"/>
<ul class="nav nav-tabs">
  ${self.navUrl('/clientConfInfo?name=%s'%uniName,'Configure')}
  ${self.navUrl('/clientConsoleInfo?name=%s'%uniName,'Console')}
  <li class="active"><a href="#">Log File</a></li>
  ${self.navUrl('/clientStartHistory?name=%s'%uniName,'Start History')}
  ${self.navUrl('/clientUpdateHistory?name=%s'%uniName,'Update History')}
</ul>
<% 
import time 
from dp.common import TIME_FORMAT
%>
<%include file="pagination.html" args="totalSize=logInfo['size'],curPage=curPage,pageSize=pageSize,url='/clientLogInfo?name=%s'%uniName"/>
<span>Last Modified : &nbsp;${time.strftime(TIME_FORMAT,time.localtime(logInfo['time']))}</span>
<div class="well well-small">
  <pre class="pre-scrollable">${logInfo['content']}</pre>
</div>
